@import url('//db.onlinewebfonts.com/c/dffb2b80813d195d26fa4d2aad48b059?family=Gotham+Rounded');

.header {
  background-color: var(--first-div-background);
  font-family: 'Gotham', 'Varela Round', sans-serif;
}

.navbar-brand {
  height: 80px;
  padding: 28px;
  padding-right: 50%;  
  padding-left: 15%;
}


.navbar-end {
  margin-right: 1em;
  padding-top:0;
}

.navbar-item {
  margin-left: .5em;
  margin-right: .5em;
}

.navbar-item a {
  color: #fff;
  font-size: 14px;
  font-weight: 550;
  text-decoration: none;
}

.social-media-icon {
  padding: 5px;
}

.first-div {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.dr-picture {
  width: 257px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 20px;
}

.mobile-background {
  position: absolute;
  z-index: 1;
  right: -60px;
  height: 350px;
}

.desktop-background {
  display: none;
}

.dr-background {
  display: none;
}

.second-div {
  background-color: var(--second-div-background);
}

.second-div h2 {
  margin: 0 30px 30px;
  padding-top: 50px;
  font-size: 25px;
  text-align: left;
  color: #fff;
}

.second-div p {
  text-align: left;
  margin: 30px;
  color: #fff;
}

.second-div button {
  height: 47px;
  width: 240px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 23.5px;
  color: #5e56a5;
  margin-left: 32px;
  margin-bottom: 60px;
}

.contact-button:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
}

.second-div .contact-button {
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  text-decoration: none;
  vertical-align: baseline;
  margin-top: 30px;
  margin-bottom: 50px;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  overflow: visible;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.second-div .contact-button span{
  font-weight: bold;
}

@media (min-width: 1024px) {
  .header {
    position: relative;
  }

  .first-div {
    height: 500px;
  }

  .dr-picture {
    width: 377px;
    left: 20%;
  }

  .mobile-background {
    display: none;
  }

  .desktop-background {
    display: block;
    position: absolute;
    top: 250px;
    right: 200px;
    width: 40vw;
  }

  .dr-background {
    display: block;
    position: absolute;
    top: 200px;
    left: 19%;
  }

  .second-div {
    padding-left: 20%;
    position: relative;
  }

  .second-div p {
    max-width: 500px;
  }
}
